:global(.article-content){
    /* position: relative; */
}
:global(.article-content h1){
    margin-bottom:1em;
}
:global(.article-content blockquote){
    border-left: 0.25em solid #dfe2e5;
    background:#F6F6F6;
    padding:0.25em 0; 
    /* z-index:1; */
}
:global(.article-content h2){
    margin-top:1em;
    margin-bottom:1em;
    font-weight:700;
}
:global(.article-content h3){
    margin-top:1em;
    margin-bottom:1em;
    font-weight:700;
}
:global(.article-content p){
    margin:20px 0;
}
:global(.article-content ul){
    padding-left:40px;
    margin: 20px 0 20px;
}
:global(.article-content ul li){
    margin-top: 10px;
    display: list-item;
    list-style-type: initial;
}
:global(.article-content table){
    width:100%;
    border: 1px solid #DDDDDD;
    border-collapse:collapse;
    margin-bottom:20px;
    border-radius:4px;
    line-height:34px;
}
:global(.article-content table th){
    /* /* border-bottom: 1px solid #DDDDDD; */
     border-right: 1px solid #DDDDDD;
     padding:5px 20px;
}
:global(.article-content table tbody){
    border-top: 1px solid #DDDDDD;
}
:global(.article-content table td){
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding:5px 20px;
}

:global(.article-content table tbody>tr:nth-child(2n+1)>td){
    background-color:#F1F3F1;
}