
:global(.ant-menu.navSiderMenu .ant-menu-item a){
       color:#fff;
}
:global(.ant-menu.navSiderMenu .ant-menu-item-selected a){
       background-color: #333; 
       color:#108EE9;
}
    
:global(.ant-menu.navSiderMenu .ant-menu-item.ant-menu-item-selected){
       background-color: #333; 
}

.trigger{
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}