
.article-content {
    line-height: 1.5;
}
.article-content h1{
    margin-bottom:1em;
}
.article-content blockquote{
    border-left: 0.25em solid #dfe2e5;
    background:#F6F6F6;
    padding:0.25em 0; 
    margin: 20px;
    /* z-index:1; */
}
.article-content h2{
    margin-top:1em;
    margin-bottom:1em;
    font-weight:700;
}
.article-content h3{
    margin-top:1em;
    margin-bottom:1em;
    font-weight:700;
}
.article-content p{
    margin:20px 0;
}
.article-content ul{
    padding-left:40px;
    margin: 20px 0 20px;
}
.article-content ul li{
    margin-top: 10px;
    display: list-item;
    list-style-type: initial;
    word-wrap: break-word;
}
.article-content  p{
   margin-bottom: 16px;
}
.article-content ul li>p{
   margin-bottom: 16px;
}

.article-content img {
    margin: 0 auto;
    display: block;
    width: 50%;
    max-width: 500px;
    min-width: 200px;
}

.article-content table{
    width:100%;
    border: 1px solid #DDDDDD;
    border-collapse:collapse;
    margin-bottom:20px;
    border-radius:4px;
    line-height:34px;
}
.article-content table th{
    /* /* border-bottom: 1px solid #DDDDDD; */
     border-right: 1px solid #DDDDDD;
     padding:5px 20px;
}
.article-content table tbody{
    border-top: 1px solid #DDDDDD;
}
.article-content table td{
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding:5px 20px;
}

.article-content table tbody>tr:nth-child(2n+1)>td{
    background-color:#F1F3F1;
}